.tabs-section {
  margin-top: 24px;
  height: 100%;
  max-height: fit-content;
}

.nav-tabs {
  background-color: var(--color-bg);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.tab-list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: auto;
  max-width: 100%; /* important for mobile */
}

.tab-list::-webkit-scrollbar {
  display: none;
}

.tab-item {
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  color: var(--color-black-80);
  cursor: pointer;
  padding: 10px 16px;
  position: relative;
  transition: background-color 0.2s ease, color 0.2s ease;
  white-space: nowrap;
}

.tab-item.active {
  color: var(--color-primary);
  background-color: var(--color-white);
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-item:not(.active):hover {
  background-color: var(--color-black-e6);
  color: var(--color-primary);
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-content {
  background-color: var(--color-white);
  color: var(--color-black-40);
  padding: 24px;
  height: 100%;
  max-height: 680px;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  overflow: auto;
}

.tab-content hr {
  margin-bottom: 12px;
}

.tab-title {
  font-size: var(--fs-20);
  line-height: var(--line-height-24);
  font-weight: var(--fw-600);
}

.tab-title.primary {
  color: var(--color-primary);
}

.tab-title.black {
  color: var(--color-black);
}

.tab-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-top: 24px;
}

.grid-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.grid-column span {
  font-size: var(--fs-14);
  line-height: var(--line-height-18);
  font-weight: var(--fw-400);
  display: flex;
  align-items: center;
  gap: 10px;
}

.mt-48 {
  margin-top: 48px;
}

@media (max-width: 1199px) {
  .tab-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .tab-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .tab-list {
    max-width: 100%;
  }
  .tab-item {
    padding: 8px 12px;
    font-size: var(--fs-12);
  }

  .tab-content {
    padding: 16px;
  }
}
